
$song-theme: rgb(255, 12, 239);
$song-theme-light: #fbedf4;
$song-theme-dark: darkmagenta;
$set-theme: rgb(17, 255, 0);
$set-theme-light: #e2ffe2; 
$theme-color-3: #feff43;
$theme-color-3-trans: #eaff0099;
$theme-color-4: rgb(49, 0, 70);
$theme-color-4-dark: rgb(26, 3, 36);
$theme-color-4-light: rgb(253 249 255);
$theme-color-5: cyan;

$theme-black: rgb(10, 10, 10);

$color-not-active: rgba(70, 3, 70, 0.597);
$color-hover: rgba(96, 4, 96, 0.597);
$color-active: rgba(70, 3, 70, 0.597);



$text-color-standard: rgba(0, 0, 0, 0.652) ;

$text-color-played: rgba(0, 0, 0, 0.652) ;
$text-color-playing: rgba(0, 0, 0, 0.727) ;
$text-color-not-played: rgba(0, 90, 11, 0.645)  ;

$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;

