@import "variables";

body {
    position: relative;
    background-image: url('../images/cardboard-texture.png');
    background-size: 20px 20px;
    background-repeat: repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;;
    margin: 0; 
}
  








.set-title-text{
    margin: 2px 5px;
    font-size: 22px;
    // font-weight: bold;
}

.set-card-inner{
    border: 1px solid rgba(32, 6, 58, 0.235);
}

.set-card-outer, .song-card-outer{

    // border: 2px solid white;
    // margin-bottom: 2px;
    // background-color: rgba(255, 255, 255, 0.75);
    background-image: url('../images/paper-background-blue-light.png');
    background-size: 100px 100px;
    background-repeat: repeat;
    background-position: center center;
    padding: 5px;
    .set-title-text, .song-title-text{
        color: $text-color-not-played
    }
.set-card-inner, .song-card-inner{
    padding: 5px;

}
}





.set-card-outer.already-played, .song-card-outer.already-played{
    background-image: url('../images/paper-background-white.png');
    background-size: 100px 100px;
    background-repeat: repeat;

    background-position: center center;
    .set-title-text, .song-title-text{
        color: $text-color-played;
    }

.set-card-inner, .song-card-inner{
    border-radius: 3px;
    padding: 5px;
    // border: 1px solid rgba(128, 128, 128, 0.502);
}
    // background: rgba(220, 220, 220, 0);
    // border: 1px solid rgba(255, 255, 255);
}

.set-card-outer.playing, .song-card-outer.playing{
    background-image: url('../images/paper-background-yellow.png') ;
    background-size: 100px 100px;
    background-repeat: repeat;
    background-position: center center;
    .set-title-text, .song-title-text{
        color: $text-color-playing;
        // text-shadow: 0px 0px 2px black
    }
    .set-card-inner, .song-card-inner{
        padding: 5px;
        // border: 1px solid rgba(91, 91, 0, 0.574);
    }
    // background: #eaff00c5 !important;
    // border-color: $theme-color-3 !important;
    // box-shadow: -10px 0px 0px 0px $theme-color-3;
}





#main-content-outer{
    // background-color: rgba(255, 255, 255, 0.45);
    height: 100vh;
  
    // z-index: -10;
    overflow: scroll;
}

#main-content-control-panel-inner{
    // background-color: rgb(25, 236, 236);
    padding: 0px;
    // border: 2px solid white;
    // padding: 10px;
    // position: fixed;
    // top: 80px;
    // width: calc(6.5/12 * 100%);
    // z-index: 11111;
}



.card-holder-outer{
    margin: 0px 20px !important;
    background-image: url('../images/yellow-rubber.png');
    background-size: 120px 120px;
    background-repeat: repeat;
    padding: 10px;
    // padding-bottom: 30px !important;
    position: fixed;
    top: 280px;
    right: 0px;
    overflow: hidden; /* Prevents overflow */
    height: calc(100vh - 320px);
    width: calc((6.5/12 * 100%) - 40px) !important;
    border-bottom: 10px solid transparent; /* Define the border size */
    border-image-source: url('../images/yellow-rubber.png'); /* Path to your image */
    border-image-slice: 60; /* Adjusts the slicing of the image */
    border-image-repeat: repeat;
    // border-top: 10px solid rgb(34, 30, 34);
    // border-bottom: 10px solid rgb(34, 30, 34);
    // margin-top: 0px !important;
}

.card-holder-inner{


    // border: 7px solid $theme-color-3;
    padding: 0px !important;
    padding-bottom: 40px !important;
    background-color: black;
    // background-color: $theme-color-3;
    // border-style: inset; 
    height: 100%; /* Take full height of its parent */
   
    // border-style: inset;
    overflow: scroll;
    // padding: 5px;
    // padding-top: 5px;
    // background-color: rgba(255, 255, 255, 0.725) !important;
    // margin-top: 180px !important;
}




.card-button{
    height: 100%;
    box-shadow: none !important;
    background-image: url('../images/paper-background-blue.png') ;
    background-size: 100px 100px;
    background-repeat: repeat;
    font-size: 18px !important;
    font-weight: bold !important;
    color: rgba(2, 2, 79, 0.744) !important
}

.already-played:not(.playing){
    .card-button{
        background-image: url('../images/paper-background-blue-grey.png');
        background-size: 100px 100px;
        background-repeat: repeat;
        color: rgba(2, 2, 79, 0.645) !important
    }

}




.already-played.playing{
    .card-button.Mui-disabled{
        background-image: url('../images/paper-background-yellow.png');
        background-size: 100px 100px;
        background-repeat: repeat;
        color: rgba(2, 2, 79, 0.645) !important
    }

}






.card-button.like, .card-button.add-songs{
    background-image: url('../images/paper-background-blue-blue.png') !important ;
    background-size: 100px 100px;
    background-repeat: repeat;
}

.card-button.like.Mui-disabled, .card-button.add-songs.Mui-disabled{
    background-image: url('../images/paper-background-blue-grey.png') !important ;
    background-size: 100px 100px;
    background-repeat: repeat;
    color: rgba(2, 2, 79, 0.645) !important
}



.card-button.remove{
    background-image: url('../images/paper-background-red.png') !important ;
    background-size: 100px 100px;
    background-repeat: repeat;
}



#search-filter-bar-outer{
   padding: 0px 10px;
}

.search-filter-bar{
    background-color: rgba(255, 255, 255, 0.931);
}

#channel-switcher-outer-wrapper{
    // padding: 0px 5px 0px 0px;
    padding: 0px 10px;
}

#channel-switcher-outer{
    background-color: rgba(255, 255, 255, 0.931);
}

// .card-holder-inner.sets{
//     border-left: 5px solid $theme-color-3;
// }

// .card-holder-inner.songs{
//     border-right: 5px solid $theme-color-3;
// }


.sets-songs-button-holder{
    padding: 10px;
}





.published-text{
    margin-left: 5px;
}

.song-set-link {
    text-decoration: none;
    color: $text-color-played;
  }
  
.artist-text{
    margin: 5px 0px !important;
}


.unplayed-text{
    margin-top: 0px !important;
    font-weight: bold;
}