
$song-theme: rgb(255, 12, 239);
$song-theme-light: #fbedf4;
$song-theme-dark: darkmagenta;
$set-theme: rgb(17, 255, 0);
$set-theme-light: #e2ffe2; 
$theme-color-3: #eaff00;
// $theme-color-4: rgb(255, 12, 239);/


$theme-black: rgb(10, 10, 10);
// body{

//     background-color: yellow;
// }

body{
    background-color: $theme-black;
}

#app-toolbar{
    background-color: $theme-black;
    color: $theme-color-3
}

.sets-songs-button{
    background-color: blue;
}

.sets-songs-button:hover{
    background-color: rgb(0, 174, 0) !important;
}

.sets-songs-button{
    color: $theme-black !important;
}

.sets-songs-button.active{
    background-color: $set-theme;
    color: $theme-black !important;
}

.current-channel-button.sets:hover{
    background-color: rgb(0, 174, 0) !important;
}
.current-channel-button.active{
    background-color: $set-theme;
    color: $theme-black;
}

.sets-songs-button.songs:hover{
    background-color: $song-theme !important;
}

.sets-songs-buttons-container.sets{
      /* Create a linear gradient from $set-theme green to white */
    background: linear-gradient(to right, $set-theme 49%, white 51%) !important;

    /* Ensure the gradient covers the entire container */
    background-size: cover;
    // background-color: $set-theme !important;
}

.sets-songs-buttons-container.songs{
    background: linear-gradient(to left, $song-theme 49%, white 51%) !important;

    /* Ensure the gradient covers the entire container */
    background-size: cover;
    // background-color: $set-theme !important;
}

// /* Keyframes for the wave effect */
// @keyframes waveEffect {
//     0%, 100% {
//         background-color: transparent;
//     }
//     50% {
//         background-color: $set-theme;
//     }
// }

// /* Applying the animation to the .sets class */
// .sets-songs-buttons-container.sets {
//     animation: waveEffect 3s ease-in-out infinite;
// }

// /* Applying the animation to the .songs class with a slight delay */
// .sets-songs-buttons-container.songs {
//     animation: waveEffect 3s ease-in-out infinite;
//     animation-delay: 1.5s; /* Adjust this delay to control the wave effect timing between the two divs */
// }




.set-card-outer, .song-card-outer{
    border: 2px solid white;
    margin-bottom: 2px;
    background-color: white;
}

.set-card-outer.playing, .song-card-outer.playing{
    background: $theme-color-3 !important;
}




.set-card-outer.already-played, .song-card-outer.already-played{
    background: rgb(220, 220, 220);
    border: 2px solid grey;
}


.set-card-outer{
    border: 2px solid $set-theme;
}

.song-card-outer{
    border: 2px solid $song-theme;
}
// .song-card-outer{
//     background-color: $song-theme-light;
// }

.card-holder-inner{
    background-color: $theme-black;
}