@import "variables";




.main-video-outer-wrapper{
    z-index: 100;
    padding: 5px 10px;
}



@media(min-width: $lg){
    .main-video-outer-wrapper{
        position: fixed;
        padding: 20px;
    }
}


.main-video-outer-wrapper{
    top: 190px;
}

.main-video-outer{
    border: 8px solid transparent; /* Define the border size */
    border-image-source: url('../images/yellow-rubber.png'); /* Path to your image */
    border-image-slice: 60; /* Adjusts the slicing of the image */
    border-image-repeat: repeat;
    background-color: black;
}


@media(max-width: $lg){
    .main-video-outer{
        height: 200px;
    }
    .main-video-outer div, .main-video-outer div iframe{
        height: 100%;
    }
    #video-buttons-upper{
        display: none !important;
    }
    .vbc{
        padding: 4px !important;
    }
    .vbc button{
        font-size: 10px !important;
        padding: 2px;
        min-width: 30px !important;
        height: 30px !important;
    }
    .vbt{
        display: none !important;
    }
    .vbc svg{
        width: 14px;
    }
    .video-buttons-container{
        margin-top: 10px !important;
        // background-color: blue;
    }
    
}

@media(max-width: $md){
    .main-video-outer{
        height: 100px;
    }
}

@media(min-width: $lg){
    .ff-rw-sm{
        display: none !important;
    }
    .video-button-container-inner{
        padding: 10px;
    }
    .video-buttons-container{
        margin-top: 20px !important;
        // background-color: blue;
    }
}

  


.video-button{
    box-shadow: 0px 0px 0px 0px $theme-color-3 !important;  
    color: $color-active !important;
    background-image: url('../images/yellow-rubber.png');
    background-size: 120px 120px;
    background-repeat: repeat;
    font-weight: bolder !important;
    font-size: 20px !important;
}

.video-button:hover{

    background-image: url('../images/blue-rubber.png');
}

.video-button.Mui-disabled{

    background-image: url('../images/grey-rubber.png');
}




